.physicalPerson {
  width: 100%;
  display: inline-block;
  &__wrapperCard {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 46px;
    @include media-breakpoint-down(xl) {
      gap: 26px;
    }
    @include media-breakpoint-down(lg) {
      gap: 16px;
    }
    @include media-breakpoint-down(md) {
      gap: 4px;
    }
    .inputCustom {
      input {
        text-align: center;
        padding: 13px 32px;
        @include media-breakpoint-down(xl) {
          padding: 13px 28px;
        }
        @include media-breakpoint-down(lg) {
          padding: 13px 24px;
        }
        @include media-breakpoint-down(md) {
          padding: 13px 16px;
        }
        @include media-breakpoint-down(md) {
          padding: 13px 8px;
        }
      }
      ::placeholder {
        color: #c3c7d4;
        opacity: 1;
        font-size: 18px;
      }
    }
  }
}
