.buttonPreview {
  display: grid;
  grid-template-columns: 26px 1fr;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px 37px;
  border: 2px solid #1229c6;
  border-radius: 12px;
  width: 336px;
  height: 48px;
  cursor: pointer;
  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #1229c6;
    white-space: nowrap;
    margin-left: 10px;
  }
}
