.activeCourseDetail {
  margin: 79px 0;
  h2 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 52px;
  }
  &__menu_item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &_img {
      min-width: 20px;
      height: auto;
    }
    p {
      margin: 0 0 0 30px;
      @include media-breakpoint-down(md) {
        margin: 0 0 0 16px;
      }
    }
  }
}
